@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "poppins", "sans-serif";
    overflow-x: hidden;
    overflow-y: hidden;
    --primary: rgb(5, 228, 5);
    --primaryShade: rgb(66, 66, 66);
    --secondaryShade: rgb(38, 40, 43);
    --tertiaryShade: white;
    color: white;
    scroll-behavior: smooth;
    background: var(--secondaryShade);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: initial;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Outlined.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Outlined'), url(https://example.com/MaterialIcons-Outlined.woff2) format('woff2'), url(https://example.com/MaterialIcons-Outlined.woff) format('woff'), url(https://example.com/MaterialIcons-Outlined.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


/* Template */

.button {
    outline: none;
    user-select: none;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    padding: 10px 22px;
    font-size: 16px;
    margin: 10px auto;
    display: block;
    width: fit-content;
    background: var(--primary);
    color: white;
    cursor: pointer;
    font-family: "poppins";
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.2) 0 14px 22px 0, rgba(255, 255, 255, 0) inset 0 0 0 0;
    transition: all 0.3s;
    text-align: center;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0, rgba(255, 255, 255, 0) inset 0 0 0 10000px, rgba(0, 0, 0, 0.2) inset 0 0 0 10000px;
}

.button:focus {
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 18px 0, rgba(255, 255, 255, 0.12) inset 0 0 0 10000px, rgba(0, 0, 0, 0) inset 0 0 0 10000px;
}


/* Hero */

.heroContainer {
    min-height: 100vh;
    background: var(--secondaryShade);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroParent {
    background: var(--primaryShade);
    padding: 14px 8px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 60px 0;
}

.heroHeader {
    font-size: 48px;
    margin: 0 20px;
    margin-top: 20px;
    text-align: center;
}

.heroText {
    text-align: center;
    width: 90%;
    margin: 30px 0;
}

.heroButton {
    margin-bottom: 0;
    width: 100%;
    font-size: 19px;
}


/* UI */

.goalReachedParent {
    padding: 20px;
    font-size: 50px;
    margin: auto;
    position: fixed;
    bottom: -10px;
    left: 10px;
    right: 10px;
    background: black;
    opacity: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
}

.goalReachedParentShow {
    opacity: 1;
    bottom: 10px;
}

.uiParent {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.uiHeader {}

.visualsParent {
    position: fixed;
    right: 200px;
    top: 10px;
    display: flex;
    pointer-events: none;
    z-index: 1000;
    opacity: 0;
}

.visualsParentShow {
    opacity: 1;
}

.layerVisual {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perceptronVisual {
    background: rgb(28, 238, 0);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 20px 0, black 0 0 0 1.5px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: black;
    position: relative;
}

.inputPerceptron {
    background: rgb(255, 187, 0);
}

.outputPerceptron {
    background: rgb(250, 15, 15);
}

.lineParent {
    pointer-events: none;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.line {
    stroke: rgba(0, 0, 0, 0.75);
    stroke-width: 1.5px;
}

.lineActive {
    stroke: rgba(14, 81, 226, 0.75);
}

.lineDisconnected {
    opacity: 0;
}


/* Game */

.map {
    position: absolute;
    background: var(--primaryShade);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 90px 0;
    transition: all 0.2s;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

.hide {
    display: none;
}

.gridPartParent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
}


/*  */